# Python basics: Strings

In this homework, we'll learn a bit more about Python's string manipulation functions, which are of obvious relevance to this class. 

Another goal of this homework is to make you feel more comfortable with programming in Python, rather than R, as well as to feel more comfortable Googling when things don't work out and/or you need to learn how to do something in Python that you know how to do in R. 

### Before we get started, a quick note on Python versions

There are two main "branches" of Python in current use: Python 2 and Python 3. Both of these branches have their own versions: the latest version of Python 2 (as of this writing) is Python 2.7.18, and the latest version of Python 3 is Python 3.10.6. The branches and versions all have slightly different capabilities and their syntax and structure are slightly different. Python 2 still has a larger number of users, but most data scientists using Python today use the newer version. Following their lead, we'll be using Python 3 in this course.

The main reason you need to know about the two branches of Python is that you should be careful when looking up Python information on the Internet. This is fine do to, and even expected, but you should make sure whatever tutorial / sample code / StackOverflow thread / etc you're looking at is about Python 3, not Python 2.

## Expressions and evaluation

Because many of you are new to Python, but not new to programming, I want to start with a very high-level description of how programming works. This is true for all programming languages, including R. So, good news! You already know much of what you need to know to start learning Python! 

When you're writing a computer program, you're describing to the computer what you want, and then asking the computer to figure that thing out for you. Your description of what you want is called an *expression*. The process that the computer uses to turn your expression into whatever that expression means is called *evaluation.*

Think of a science fiction movie where a character asks the computer, out loud, "What's the square root of nine billion?" or "How many people older than 50 live in Paris, France?" Those are examples of expressions. The process that the computer uses to transform those expressions into a response is evaluation.

When the process of evaluation is complete, you're left with a single "value". Think of it schematically like so:

![expressiondiagram.png]()

What makes programming languages powerful is that they make it possible to write very precise and sophisticated expressions. And importantly, you can embed the results of evaluating one expression inside of another expression, or save the results of evaluating an expression for later in your program.

You already know how to write expressions in R. What we're going to learn in this notebook is how to write the same kind of expressions in Python.

## Arithmetic expressions

We're going to start with simple arithmetic expressions, because they help us build to our knowledge of strings. 

The way that you write arithmetic expressions in Python is very similar to the way that you write arithmetic expressions in R. In the example below, `3 + 5` is the expression. In Colab, you tell Python to evaluate the expression and display its value by pressing `Ctrl-Enter` or, if you already know that you want to move to the next cell afterwards, `Shift-Enter`.

In [16]:
3 + 5

8

Arithmetic expressions in Python can be much more sophisticated than this, of course. We won't go over all of the details right now, but one thing you should know immediately is that Python arithmetic operations are evaluated using the typical order of operations, which you can override with parentheses:

In [17]:
4 + 5 * 6

34

In [18]:
(4 + 5) * 6

54

You can write arithmetic expressions with or without spaces between the numbers and the operators (but usually it's considered better style to include spaces):

In [19]:
10 + 20 + 30

60

Expressions in Python can also be very simple. In fact, a number on its own is its own expression, which Python evaluates to that number itself:

In [20]:
19

19

If you write an expression that Python doesn't understand, then you'll get an error. Here's what that looks like:

In [21]:
+ 20 19

SyntaxError: ignored

**NB:** Remember what I said in the first class notebook about how important the error messages will become when it's time to debug. The error messages are your first clue to what is wrong with your code. Also, if the error message is confusing to you, Googling the error message is a good way to get more information about it.

## Expressions of inequality

You can also ask Python whether two expressions evaluate to the same value, or if one expression evaluates to a value greater than another expression, using a similar familiar syntax. When evaluating such expressions, Python will return one of two special values: either `True` or `False`.

The `==` operator compares the expression on its left side to the expression on its right side. It evaluates to `True` if the values are equal, and `False` if they're not equal.

In [22]:
3 * 5 == 9 + 6

True

In [23]:
20 == 7 * 3

False

The `<` operator compares the expression on its left side to the expression on its right side, evaluating to `True` if the left-side expression is less than the right-side expression, `False` otherwise. The `>` does the same thing, except checking to see if the left-side expression is greater than the right-side expression:

In [24]:
17 < 18

True

In [25]:
17 > 18

False

The `>=` and `<=` operators translate to "greater than or equal" and "lesser than or equal," respectively:

In [26]:
22 >= 22

True

In [27]:
22 <= 22

True

Make sure to get the order of the angle bracket and the equal sign right!

In [28]:
22 =< 22

SyntaxError: ignored

## Variables

You can save the result of evaluating an expression for later using the `=` operator (called the "assignment operator"). On the left-hand side of the `=`, write the variable name that you'd like to use to refer to the value of the expression, and on the right-hand side, write the expression itself. After you've assigned a value like this, whenever you include that variable in your code, Python will evaluate the word and replace it with the value you assigned to it earlier. Like so:

In [ ]:
x = (4 + 5) * 6
x

(Notice that the line `x = (4 + 5) * 6` didn't cause Python to print anything out. An assignment in Python isn't an expression, it's a "statement"---we'll discuss the difference later.)

After this, whenever you use the variable `x` in your program, it "stands in" for the result of the expression that you assigned to it.

In [29]:
x / 6

0.5

You can create as many variables as you want!

In [30]:
another_variable = (x + 2) * 4
another_variable

20

Variable names can contain letters, numbers and underscores, but must begin with a letter or underscore. There are other, more technical constraints on variable names; you can review them [here](http://en.wikibooks.org/wiki/Think_Python/Variables,_expressions_and_statements#Variable_names_and_keywords).

If you attempt to use a the name of a variable that you haven't defined in the notebook, Python will raise an error:

In [31]:
my_favorite_snack

NameError: ignored

If you assign a value to a variable, and then assign a value to it again, the previous value of the variable will be overwritten:

In [ ]:
x = 15
print(x)
x = 42
x

Note that I've been using a shortcut of Colab to print out the values of variables. If you end a cell with a variable on its own line, Colab will dump out its contents as output. This is very helpful when you don't care too much about the formatting of the variable. But if you need to print out anything along the way, or if you want to format a complicated variable nicely, you'll need to use a `print` staement.

## Types

Another important thing to know is that when Python evaluates an expression, it assigns the result to a "type." A type is a description of what kind of thing a value is, and Python uses that information to determine later what you can do with that value, and what kinds of expressions that value can be used in. You can ask Python what type it thinks a particular expression evaluates to, or what type a particular value is, using the `type()` function:

In [32]:
type(100 + 1)

int

Python has many, many other types, and lots of (sometimes arcane) rules for how those types interact with each other when used in the same expression. Some of these types and rules are the same as R, and some of them are different. It's fine to have to Google more information about a particular type or `TypeError.`

In [33]:
>>> type(4 / 3)

float

And a note on type errors: throwing an expression into the `type()` function is a good way to know whether or not the value you're working with is the value you were expecting to work with. We'll use it for debugging some example code later.

## Strings

This brings us to strings, the type we'll be using most in this course. To make an expression that evaluates to a string in Python, simply enclose some text inside of quotes:

In [34]:
"I still want to know about your favorite snack."

'I still want to know about your favorite snack.'

Asking Python for the type of a string returns `str`:

In [35]:
type("I still want to know about your favorite snack.")

str

You can use single quotes or double quotes to enclose strings, as long as the opening quote matches the closing quote:

In [36]:
'I still want to know about your favorite snack.'

'I still want to know about your favorite snack.'

(When you ask Python to evaluate a string expression, it will always display it with single quotes surrounding it.)

You can assign strings to variables, just like any other value:

In [37]:
life_goals = "I still want to know about your favorite snack."
life_goals

'I still want to know about your favorite snack.'

In versions of Python previous to Python 3, it could be tedious to use any characters inside of strings that weren't ASCII characters (i.e., the letters, numbers and punctuation used most commonly when writing English--we will talk about this more in a few days). In Python 3, you can easily include whatever characters you want by typing them into the string directly:

In [38]:
my_view_on_cats = ""
my_view_on_cats

''

### "Escaping" special characters in strings

Normally, if there are any characters you want in your string, all you have to do to put them there is type the characters in on your keyboard, or paste in the text that you want from some other source. There are some characters, however, that require special treatment and can't be typed into a string directly.

For example, say you have a double-quoted string. Now, the rules about quoting strings (as outlined above) is that the quoted string begins with a double-quote character and ends with a double-quote character. But what if you want to include a double-quote character INSIDE the string? You might think you could do this:

    >>> "And then he said, "I think that's a cool idea," and vanished."
    
But that won't work:

In [39]:
"And then he said, "I think that's a cool idea," and vanished."

SyntaxError: ignored

It doesn't work because Python interprets the first double-quote it sees after the beginning of the string as the double-quote that marks the end of the string. Then it sees all of the stuff after the string and says, "okay, the programmer must not be having a good day?" and displays a syntax error. Clearly, we need a way to tell Python "I want you to interpret this character not with the special meaning it has in Python, but LITERALLY as the thing that I typed."

We can do this exact thing by putting a backslash in front of the characters that we want Python to interpret literally, like so:

In [40]:
"And then he said, \"I think that's a cool idea,\" and vanished."

'And then he said, "I think that\'s a cool idea," and vanished.'

A character indicated in this way is called an "escape" character (because you've "escaped" from the typical meaning of the character). There are several other useful escape characters to know about:

* I showed `\"` above, but you can also use `\'` in a single-quoted string.
* Use `\n` if you want to include a new line in your string.
* Use `\t` instead of hitting the tab key to put a tab in your string.
* Because `\` is itself the character used to escape other characters, you need to type `\\` if you actually want a backslash in your string.

### Printing vs. evaluating

There are two ways to see the result of an expression in the interactive interpreter. You can either type the expression directly:

In [41]:
7 + 15

22

In [42]:
"\tA \"string\" with escape\ncharacters."

'\tA "string" with escape\ncharacters.'

Or, as discussed in the last class, you can "print" the expression using the `print()` function by putting the expression inside the parentheses:

In [43]:
print(7 + 15)

22

In [44]:
print("\tA \"string\" with escape\ncharacters.")

	A "string" with escape
characters.

As you can see, the `print()` function doesn't make a huge difference when displaying the result of an arithmetic expression. But it *does* make a difference when printing a string. When you simply type an expression that evaluates to a string in order to display it, without the `print()` function, Python won't "interpolate" any special characters in the string. ("Interpolate" is a fancy computer programming term that means "replace symbols in something with whatever those symbols represent.") The `print()` function, on the other hand, *will* perform the interpolation.

Typing the expression itself results in Python showing you *exactly* the code you'd need to copy and paste in order to replicate the vale. Typing the expression into `print()` tells Python to do its best to make the result of the expression look "nice."

### Asking questions about strings

Now that we understand the string type and how to print it, let's learn some of the ways Python allows us to do interesting things with strings.

Let's talk about the `len()` function first. If you take an expression that evaluates to a string and put it inside the parentheses of `len()`, you get an integer value that indicates how long the string is. Like so:

In [45]:
len("Suppose there is a pigeon, suppose there is.")

44

The value that `len()` evaluates to can itself be used in other expressions (just like any other value!):

In [46]:
len("Camembert") + len("Cheddar")

16

Next up: the `in` operator, which lets us check to see if a particular string is found inside of another string.

In [47]:
"foo" in "buffoon"

True

In [48]:
"foo" in "reginald"

False

The `in` operator takes one expression evaluating to a string on the left and another on the right, and returns `True` if the string on the left occurs somewhere inside of the string on the right.

We can check to see if a string begins with or ends with another string using that string's `.startswith()` and `.endswith()` methods, respectively:

In [49]:
"foodie".startswith("foo")

True

In [50]:
"foodie".endswith("foo")

False

The `.isdigit()` method returns `True` if Python thinks the string could represent an integer, and `False` otherwise:

In [51]:
"foodie".isdigit()

False

In [52]:
"4567".isdigit()

True

The `.isdigit()` method (along with many of the other methods discussed in this section) works not just for ASCII characters but generally across Unicode. (More on Unicode in the coming few classes). For example, it returns `True` for a full-width digit:

In [53]:
"".isdigit()

True

And the `.islower()` and `.isupper()` methods return `True` if the string is in all lower case or all upper case, respectively (and `False` otherwise).

In [54]:
>>> "foodie".islower()

True

In [55]:
>>> "foodie".isupper()

False

In [56]:
"YELLING ON THE INTERNET".islower()

False

In [57]:
"YELLING ON THE INTERNET".isupper()

True

The `in` operator discussed above will tell us if a substring occurs in some other string. If we want to know *where* that substring occurs, we can use the `.find()` method. The `.find()` method takes a single parameter between its parentheses: an expression evaluating to a string, which will be searched for within the string whose `.find()` method was called. If the substring is found, the entire expression will evaluate to the index at which the substring is found. If the substring is not found, the expression evaluates to `-1`. To demonstrate:

In [58]:
"Now is the winter of our discontent".find("win")

11

In [110]:
"Now is the winter of our discontent".find("lose")

-1

The `.count()` method will return the number of times a particular substring is found within the larger string:

In [60]:
"I got rhythm, I got music, I got my man, who could ask for anything more".count("I got")

3

Finally, remember the `==` operator that we discussed earlier? You can use that in Python to check to see if two strings contain the same characters in the same order:

In [61]:
"pants" == "pants"

True

In [62]:
"pants" == "trousers"

False

### Simple string transformations

Python strings have a number of different methods which, when called on a string, return a copy of that string with a simple transformation applied to it. These are helpful for normalizing and cleaning up data, or preparing it to be displayed.

Let's start with `.lower()`, which evaluates to a copy of the string in all lower case:

In [63]:
"ARGUMENTATION! DISAGREEMENT! STRIFE!".lower()

'argumentation! disagreement! strife!'

The converse of `.lower()` is `.upper()`:

In [64]:
"e.e. cummings is. not. happy about this.".upper()

'E.E. CUMMINGS IS. NOT. HAPPY ABOUT THIS.'

The method `.title()` evaluates to a copy of the string it's called on, replacing every letter at the beginning of a word in the string with a capital letter:

In [65]:
"dr. strangelove, or, how I learned to love the bomb".title()

'Dr. Strangelove, Or, How I Learned To Love The Bomb'

The `.strip()` method removes any whitespace from the beginning or end of the string (but not between characters later in the string):

In [66]:
" got some random whitespace in some places here     ".strip()

'got some random whitespace in some places here'

Finally, the `.replace()` method takes two parameters: a string to find, and a string to replace that string with whenever it's found. You can use this to make sad stories.

In [67]:
"I got rhythm, I got music, I got my man, who could ask for anything more".replace("I got", "I used to have")

'I used to have rhythm, I used to have music, I used to have my man, who could ask for anything more'

The `.replace()` method works with non-ASCII characters as well, of course:

In [68]:
"".replace("", "")

''

### Reading in the contents of a file as a string

So far we've just been typing our strings directly into the interactive interpreter by writing *string literals* (i.e., characters in between quotation marks). This is nice but for larger chunks of text it's desirable to be able to read in files stored somewhere else. 

Since we are using Colab, it's a slightly more convoluted process than it would be if we were running this code on a local server, and we'll see a few ways to read in data in the next couple of weeks. But for now, we'll do it the easiest way, by reading in a file stored at a stable external URL. 

In this case, we'll be reading in the text of a poem (about food!) called `persimmons.txt` into a variable called `text`:

In [133]:
import requests 

response = requests.get('https://raw.githubusercontent.com/laurenfklein/QTM340-Fall22/main/corpora/lee-poems/persimmons.txt')
text = response.text

Did you get an error? (You might have if you are doing this notebook using Jupyter Notebook rather than Colab). If so, see if you can figure out what the problem is and how to fix it, Googling if necessary.

Another thing to know: You can change the name of the variable to whatever you want, of course, and you can choose a different file name as well. Once the text is loaded, it's just a regular string, and you can do whatever you want with it! You could just print it out:

In [134]:
print(text)

In sixth grade Mrs. Walker
slapped the back of my head
and made me stand in the corner
for not knowing the difference
between persimmon and precision.
How to choose

persimmons. This is precision.
Ripe ones are soft and brown-spotted.
Sniff the bottoms. The sweet one
will be fragrant. How to eat:
put the knife away, lay down newspaper.
Peel the skin tenderly, not to tear the meat.
Chew the skin, suck it,
and swallow. Now, eat
the meat of the fruit,
so sweet,
all of it, to the heart.

Donna undresses, her stomach is white.
In the yard, dewy and shivering
with crickets, we lie naked,
face-up, face-down.
I teach her Chinese.
Crickets: chiu chiu. Dew: Ive forgotten.
Naked:   Ive forgotten.
Ni, wo:   you and me.
I part her legs,
remember to tell her
she is beautiful as the moon.

Other words
that got me into trouble were
fight and fright, wren and yarn.
Fight was what I did when I was frightened,
Fright was what I felt when I was fighting.
Wrens are small, plain birds,
yarn is what one knits with.
Wrens are soft as yarn.
My mother made birds out of yarn.
I loved to watch her tie the stuff;
a bird, a rabbit, a wee man.

Mrs. Walker brought a persimmon to class
and cut it up
so everyone could taste
a Chinese apple. Knowing
it wasnt ripe or sweet, I didnt eat
but watched the other faces.

My mother said every persimmon has a sun
inside, something golden, glowing,
warm as my face.

Once, in the cellar, I found two wrapped in newspaper,
forgotten and not yet ripe.
I took them and set both on my bedroom windowsill,
where each morning a cardinal
sang, The sun, the sun.

Finally understanding
he was going blind,
my father sat up all one night
waiting for a song, a ghost.
I gave him the persimmons,
swelled, heavy as sadness,
and sweet as love.

This year, in the muddy lighting
of my parents cellar, I rummage, looking
for something I lost.
My father sits on the tired, wooden stairs,
black cane between his knees,
hand over hand, gripping the handle.
Hes so happy that Ive come home.
I ask how his eyes are, a stupid question.
All gone, he answers.

Under some blankets, I find a box.
Inside the box I find three scrolls.
I sit beside him and untie
three paintings by my father:
Hibiscus leaf and a white flower.
Two cats preening.
Two persimmons, so full they want to drop from the cloth.

He raises both hands to touch the cloth,
asks, Which is this?

This is persimmons, Father.

Oh, the feel of the wolftail on the silk,
the strength, the tense
precision in the wrist.
I painted them hundreds of times
eyes closed. These I painted blind.
Some things never leave a person:
scent of the hair of one you love,
the texture of persimmons,
in your palm, the ripe weight.

Or you can ask questions about it:

In [71]:
text.count("you")

3

Or you can transform it:

In [72]:
print(text.replace("persimmon", "banana"))

In sixth grade Mrs. Walker
slapped the back of my head
and made me stand in the corner
for not knowing the difference
between banana and precision.
How to choose

bananas. This is precision.
Ripe ones are soft and brown-spotted.
Sniff the bottoms. The sweet one
will be fragrant. How to eat:
put the knife away, lay down newspaper.
Peel the skin tenderly, not to tear the meat.
Chew the skin, suck it,
and swallow. Now, eat
the meat of the fruit,
so sweet,
all of it, to the heart.

Donna undresses, her stomach is white.
In the yard, dewy and shivering
with crickets, we lie naked,
face-up, face-down.
I teach her Chinese.
Crickets: chiu chiu. Dew: Ive forgotten.
Naked:   Ive forgotten.
Ni, wo:   you and me.
I part her legs,
remember to tell her
she is beautiful as the moon.

Other words
that got me into trouble were
fight and fright, wren and yarn.
Fight was what I did when I was frightened,
Fright was what I felt when I was fighting.
Wrens are small, plain birds,
yarn is what one knits with.
Wrens are soft as yarn.
My mother made birds out of yarn.
I loved to watch her tie the stuff;
a bird, a rabbit, a wee man.

Mrs. Walker brought a banana to class
and cut it up
so everyone could taste
a Chinese apple. Knowing
it wasnt ripe or sweet, I didnt eat
but watched the other faces.

My mother said every banana has a sun
inside, something golden, glowing,
warm as my face.

Once, in the cellar, I found two wrapped in newspaper,
forgotten and not yet ripe.
I took them and set both on my bedroom windowsill,
where each morning a cardinal
sang, The sun, the sun.

Finally understanding
he was going blind,
my father sat up all one night
waiting for a song, a ghost.
I gave him the bananas,
swelled, heavy as sadness,
and sweet as love.

This year, in the muddy lighting
of my parents cellar, I rummage, looking
for something I lost.
My father sits on the tired, wooden stairs,
black cane between his knees,
hand over hand, gripping the handle.
Hes so happy that Ive come home.
I ask how his eyes are, a stupid question.
All gone, he answers.

Under some blankets, I find a box.
Inside the box I find three scrolls.
I sit beside him and untie
three paintings by my father:
Hibiscus leaf and a white flower.
Two cats preening.
Two bananas, so full they want to drop from the cloth.

He raises both hands to touch the cloth,
asks, Which is this?

This is bananas, Father.

Oh, the feel of the wolftail on the silk,
the strength, the tense
precision in the wrist.
I painted them hundreds of times
eyes closed. These I painted blind.
Some things never leave a person:
scent of the hair of one you love,
the texture of bananas,
in your palm, the ripe weight.

## Functions and methods

Okay, we're getting somewhere together! But I've still been using a lot of jargon when explaning this stuff. One thing that might confuse you: what's a "function" and what's a "method"?

We've talked about two "functions" so far: `len()` and `type()`. A function is a special word that you can use in Python expressions that runs some pre-defined code: you put your expression inside the parentheses, and Python sends the result of evaluating that expression to the code in the function. That code operates on the value that you gave it, and then itself evaluates to another value. Using a function in this way is usually called "calling" it or "invoking" it. The stuff that you put inside the parentheses is called a "parameter" or "argument"; the value that the function gives back is called its "return value."

![expressiondiagram.png]()

The `len()` and `type()` functions are two of what are called "built-in functions," i.e. functions that come with Python and are available whenever you're writing Python code. In Python, built-in functions tend to be able to take many different types of value as parameters. ([There are a lot of other built-in functions](https://docs.python.org/2/library/functions.html), not just `len()` and `type()`! We'll discuss them as the need arises.)

> NOTE: You can also write your own functions---we'll learn how to do this later in the class. Writing functions is a good way to avoid repetition in your code and to compartmentalize it.)

"Methods" work a lot like functions, except in how it looks when you use them. Instead of putting the expression that you want to use them with inside the parentheses, you put the call to the method directly AFTER the expression that you want to call it on, following a period (`.`). Methods, unlike built-in functions, are usually only valid for one type of value; e.g., values of the string type have a `.strip()` method, but integer values don't.

It's important to remember that methods can be called both on an expression that evaluates to a particular value AND on a variable that contains that value. So you can do this:

In [73]:
"hello".find('e')

1

...and this:

In [74]:
s = "hello"
s.find('e')

1

## Getting help in Jupyter Notebook

Jupyter Notebook has all kinds of nuggets to help you program in Python. The first one worth mentioning is the `help()` function. Pass any function or method as a parameter to `help()` and you'll get a handy description of the method or function and what it does:

In [75]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

Remember above when we were talking about how certain types of value have certain "methods" that you can only use with that type of value? Sometimes it's helpful to be reminded of exactly which methods an object supports. You can find this out right in Jupyter Notebook without having to look it up in the documentation using the `dir()` built-in function. Just pass the value that you want to know more about to `dir()`:

In [76]:
dir("hello")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

This is a list of all of the methods that the string type supports. (Ignore anything that begins with two underscores (`__`) for now---those are special weird built-in methods that aren't very useful to call on their own.) If you want to know more about one method in particular, you can type this (note again that you need to NOT include the parentheses after the method):

In [77]:
help("hello".swapcase)

Help on built-in function swapcase:

swapcase() method of builtins.str instance
    Convert uppercase characters to lowercase and lowercase characters to uppercase.

Hey awesome! We've learned something about another string method. Let's try this method out:

In [78]:
"Star Wars Episode IV: A New Hope".swapcase()

'sTAR wARS ePISODE iv: a nEW hOPE'

> **EXERCISE 1**: Use `dir()` and `help()` to find and research a string method that isn't mentioned in the notes. Then write an expression using that method.

In [79]:
# YOUR CODE GOES HERE
help("help".capitalize)
"sally went to the beach.".capitalize()

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

'Sally went to the beach.'

## String indexing

Python has some powerful language constructions that allow you to access parts of the string by their numerical position in the string. You can get an individual character of a string by putting square brackets (`[]`) right after an expression that evaluates to a string, and putting inside the square brackets the number that represents which character you want. Here's an example:

In [80]:
"bungalow"[2]

'n'

You can also do this with variables that contain string values, of course:

In [81]:
message = "bungalow"
message[2]

'n'

If we were to say this expression out loud, it might read, "I have a string, consisting of the characters `b`, `u`, `n`, `g`, `a`, `l`, `o` and  `w`, in that order. Give me back the second item in that string." Python evaluates that expression to `n`, which is indeed the second letter in the word "bungalow."

### The second letter? Am I seeing things. "u" is clearly the second letter.

You're right---good catch. But for reasons too complicated to go into here, Python (along with many other programming languages!) starts counting at 0, instead of 1. So what looks like the third letter of the string to human eyes is actually the second letter to Python. The first letter of the string is accessed using index 0, like so:

In [82]:
message[0]

'b'

The way I like to conceptualize this is to think of list indexes not as specifying the number of the item you want, but instead specifying how "far away" from the beginning of the list to look for that value.

If you attempt to use a value for the index of a list that is beyond the end of the list (i.e., the value you use is higher than the last index in the list), Python gives you an error:

In [83]:
message[17]

IndexError: ignored

An individual character from a string still has the same type as the string it came from:

In [ ]:
type(message[3])

And, of course, a string containing an individual character has a length of 1:

In [84]:
len(message[3])

1

### Indexes can be expressions too

The thing that goes inside of the index brackets doesn't have to be a number that you've just typed in there. Any Python expression that evaluates to an integer can go in there.

In [85]:
message[2 * 3]

'o'

In [86]:
x = 3
message[x]

'g'

In [87]:
message[message.find("a")]

'a'

### Negative indexes

If you use `-1` as the value inside of the brackets, something interesting happens:

In [88]:
message[-1]

'w'

The expression evaluates to the *last* character in the string. This is essentially the same thing as the following code:

In [89]:
message[len(message) - 1]

'w'

... except easier to write. In fact, you can use any negative integer in the brackets, and Python will count that many items from the end of the string, and the expression evaluates to that item.

In [90]:
message[-3]

'l'

If the value in the brackets would "go past" the beginning of the list, Python will raise an error:

In [91]:
message[-987]

IndexError: ignored

## String slices

The index bracket syntax explained above allows you to write an expression that evaluates to a character in a string, based on its position in the string. Python also has a powerful way for you to write expressions that return a *section* of a string, starting from a particular index and ending with another index. In Python parlance we'll call this section a *slice*.

Writing an expression to get a slice of a string looks a lot like writing an expression to get a single character. The difference is that instead of putting one number between square brackets, we put *two* numbers, separated by a colon. The first number tells Python where to begin the slice, and the second number tells Python where to end it.

In [92]:
message[1:4]

'ung'

Note that the value after the colon specifies at which index the slice should end, but the slice does *not* include the value at that index. I would translate the expression above as saying "give me characters one through four of the string in the "message" variable, NOT INCLUDING character four."

The fact that slice indexes aren't inclusive means that you can tell how long the slice will be by subtracting the value before the colon from the value after it:

In [93]:
message[1:4]

'ung'

In [94]:
len(message[1:4])

3

In [95]:
4 - 1

3

Also note that---as always!---any expression that evaluates to an integer can be used for either value in the brackets. For example:

In [96]:
x = 3
message[x:x+2]

'ga'

Finally, note that the type of a slice is still `str`:

In [97]:
type(message[5:7])

str

### Omitting slice values

Because it's so common to use the slice syntax to get a string that is either a slice starting at the beginning of the string or a slice ending at the end of the string, Python has a special shortcut. Instead of writing:

In [98]:
message[0:3]

'bun'

You can leave out the `0` and write this instead:

In [99]:
message[:3]

'bun'

Likewise, if you wanted a slice that starts at index 4 and goes to the end of the string, you might write:

In [100]:
message[4:]

'alow'

### Negative index values in slices

Now for some tricky stuff: You can use negative index values in slice brackets as well! For example, to get a slice of a string from the fourth-to-last element of the string up to (but not including) the second-to-last element of the string:

In [101]:
message[-4:-2]

'al'

(Even with negative slice indexes, the numbers have the property that subtracting the first from the second yields the length of the slice, i.e. `-2 - (-4)` is `2`).

To get the last three elements of the string:

In [102]:
message[-3:]

'low'

> **EXERCISE 2**: Write an expression, or a series of expressions, that prints out "Persimmons" from the first occurence of the string `persimmons` up until the end of the poem. (Hint: Use the `.find()` method, discussed above.)

In [160]:
# YOUR CODE GOES HERE
print(text[text.find('persimmons'):])


#Extra (saving my mistake, do not grade this)
#index = 0
#while index < len(text):
  #text1 = text[text.find("persimmons"):text.find("persimmons")+10].capitalize()
  #print(text1)
  #index = text.find('persimmons', index)
  #if index == -1:
    #break
  #print('( an occurance of persimmons found at', index, ')')
  #print(text[text.find('persimmons', index):text.find('persimmons', index)+10].capitalize())
  #index +=1

persimmons. This is precision.
Ripe ones are soft and brown-spotted.
Sniff the bottoms. The sweet one
will be fragrant. How to eat:
put the knife away, lay down newspaper.
Peel the skin tenderly, not to tear the meat.
Chew the skin, suck it,
and swallow. Now, eat
the meat of the fruit,
so sweet,
all of it, to the heart.

Donna undresses, her stomach is white.
In the yard, dewy and shivering
with crickets, we lie naked,
face-up, face-down.
I teach her Chinese.
Crickets: chiu chiu. Dew: Ive forgotten.
Naked:   Ive forgotten.
Ni, wo:   you and me.
I part her legs,
remember to tell her
she is beautiful as the moon.

Other words
that got me into trouble were
fight and fright, wren and yarn.
Fight was what I did when I was frightened,
Fright was what I felt when I was fighting.
Wrens are small, plain birds,
yarn is what one knits with.
Wrens are soft as yarn.
My mother made birds out of yarn.
I loved to watch her tie the stuff;
a bird, a rabbit, a wee man.

Mrs. Walker brought a persimmon to class
and cut it up
so everyone could taste
a Chinese apple. Knowing
it wasnt ripe or sweet, I didnt eat
but watched the other faces.

My mother said every persimmon has a sun
inside, something golden, glowing,
warm as my face.

Once, in the cellar, I found two wrapped in newspaper,
forgotten and not yet ripe.
I took them and set both on my bedroom windowsill,
where each morning a cardinal
sang, The sun, the sun.

Finally understanding
he was going blind,
my father sat up all one night
waiting for a song, a ghost.
I gave him the persimmons,
swelled, heavy as sadness,
and sweet as love.

This year, in the muddy lighting
of my parents cellar, I rummage, looking
for something I lost.
My father sits on the tired, wooden stairs,
black cane between his knees,
hand over hand, gripping the handle.
Hes so happy that Ive come home.
I ask how his eyes are, a stupid question.
All gone, he answers.

Under some blankets, I find a box.
Inside the box I find three scrolls.
I sit beside him and untie
three paintings by my father:
Hibiscus leaf and a white flower.
Two cats preening.
Two persimmons, so full they want to drop from the cloth.

He raises both hands to touch the cloth,
asks, Which is this?

This is persimmons, Father.

Oh, the feel of the wolftail on the silk,
the strength, the tense
precision in the wrist.
I painted them hundreds of times
eyes closed. These I painted blind.
Some things never leave a person:
scent of the hair of one you love,
the texture of persimmons,
in your palm, the ripe weight.

## Putting strings together

Earlier, we discussed how the `+` operator can be used to create an expression that evaluates to the sum of two numbers. E.g.:

In [161]:
17 + 92

109

The `+` operator can also be used to create a new string from two other strings. This is called "concatenation":

In [162]:
"Spider" + "man"

'Spiderman'

In [163]:
part1 = "Nickel, what is nickel, "
part2 = "it is originally rid of a cover."
part1 + part2

'Nickel, what is nickel, it is originally rid of a cover.'

You can combine as many strings as you want this way, using the `+` operator multiple times in the same expression:

In [164]:
"bas" + "ket" + "ball"

'basketball'

> **EXERCISE 3**: Write an expression that evaluates to a string containing the first fifty characters of "Persimmons" followed by the last fifty characters of "Persimmons."

In [165]:
# YOUR CODE GOES HERE
print(text[0:50]+text[-50:])

In sixth grade Mrs. Walker
slapped the back of my ure of persimmons,
in your palm, the ripe weight.

### Strings and numbers

It's important to remember that a string that contains what looks like a number does *not* behave like an actual integer or floating point number does. For example, attempting to subtract one string containing a number from another string containing a number will cause an error to be raised:

In [179]:
"15" - "4"

TypeError: ignored

The "unsupported operand type(s)" error means that you tried to use an operator (in this case `+`) with two types that the operator in question doesn't know how to work with. (Python is saying: "You asked me to subtract a string from another string. That doesn't make sense to me.")

Attempting to add an integer or floating-point number to a string that has (what looks like) a number inside of it will raise a similar error:

In [180]:
16 + "8.9"

TypeError: ignored

Fortunately, there are built-in functions whose purpose is to convert from one type to another; notably, you can put a string inside the parentheses of the `int()` and `float()` functions, and it will evaluate to (what Python interprets as) the integer and floating-point values (respectively) of the string:

In [181]:
type("17")

str

In [182]:
int("17")

17

In [183]:
type(int("17"))

int

In [184]:
type("3.14159")

str

In [185]:
float("3.14159")

3.14159

In [186]:
type(float("3.14159"))

float

If you give a string to one of these functions that Python can't interpret as an integer or floating-point number, Python will raise an error:

In [187]:
int("shumai")

ValueError: ignored

### Strings with multiple lines

Sometimes we want to work with strings that have more than one "line" of text in them. The problem with this is that Python interprets your having pressed "Enter" with your having finished your input, so if you try to cut-and-paste in some text with new line characters, you'll get an error:

In [188]:
poem = "Rose, harsh rose, 
marred and with stint of petals, 
meagre flower, thin, 
spare of leaf,"

SyntaxError: ignored

(`EOL while scanning string literal` is Python's way of saying "you hit enter too soon.") One way to work around this is to include `\n` (newline character) inside the string when we type it into our program:

In [190]:
poem = "Rose, harsh rose,\nmarred and with stint of petals,\nmeagre flower, thin,\nspare of leaf,"
print(poem)

Rose, harsh rose,
marred and with stint of petals,
meagre flower, thin,
spare of leaf,

This works, but it's kind of inconvenient! A better solution is to use a different way of quoting strings in Python, the triple-quote. It looks like this:

In [191]:
poem = """Rose, harsh rose, 
marred and with stint of petals, 
meagre flower, thin, 
spare of leaf,"""
print(poem)

Rose, harsh rose,
marred and with stint of petals,
meagre flower, thin,
spare of leaf,

When you use three quotes instead of one, Python allows you to put new line characters directly into the string. Nice!

> **EXERCISE 4**: Create a variable called `poem` and assign the text of "Persimmon" to that variable. Use the `len()` function to find out how many characters are in it. Then, use the `count()` method to find out how many times the string `persimmon` occurs within it.

In [199]:
# YOUR CODE GOES HERE
poem = text
print(len(poem))
poem.count("persimmon")

2693

8

## Further reading:

* From the official documentation: [Python Tutorial](https://docs.python.org/2/tutorial/index.html) and [Methods of string objects](https://docs.python.org/2/library/stdtypes.html#string-methods).
* From [Think Python](http://www.greenteapress.com/thinkpython/html/index.html): [Variables, expressions and statements](http://www.greenteapress.com/thinkpython/html/thinkpython003.html); [Strings](http://www.greenteapress.com/thinkpython/html/thinkpython009.html).

*This quiz was created by Lauren Klein, adapted from notebooks by [Allison Parrish](http://www.decontextualize.com/).*